<div class="jumbotron jumbotron-fluid">

  <div id="jumbotron-carousel" class="carousel">
    <ol class="carousel-indicators">
      <li data-target="#jumbotron-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#jumbotron-carousel" data-slide-to="1"></li>
      <li data-target="#jumbotron-carousel" data-slide-to="2"></li>
    </ol>

    <!-- The slide show -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <ul>
          <li class="carousel-item-title"><h1>Mark Your Currencies</h1></li>
          <li class="carousel-item-text"><p>Save frequently used currencies to you dashboard for easy access.</p></li>
        </ul>
      </div>
      <div class="carousel-item">
        <ul>
          <li class="carousel-item-title"><h1>View Currencies In Detail</h1></li>
          <li class="carousel-item-text"><p>Inspect the historical and current data of a currency.</p></li>
        </ul>
      </div>
      <div class="carousel-item">
        <ul>
          <li class="carousel-item-title"><h1>Convert And Compare</h1></li>
          <li class="carousel-item-text">
            <p>Select, compare and calculate exchange rates of currencies from around the globe.</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- Left and right controls-->
    <a class="carousel-control-prev" href="#jumbotron-carousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#jumbotron-carousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="home-container">

  <!--Common Currencies-->
  <div class="row currencies mb-3">
    <div class="col-lg-4 col-md-6 currency-1">
      <app-currency-preview intrinioId="$DEXUSEU"
      infoUrl='/historicCurrent/EXUSEU' label="USD/EUR" removable="false">
     </app-currency-preview>
    </div>
    <div class="col-lg-4 col-md-6 currency-2">
      <app-currency-preview intrinioId="$DEXUSUK"
      infoUrl='/historicCurrent/EXUSUK' label="USD/GBP" removable="false"></app-currency-preview>
    </div>
    <div class="col-lg-4 col-md-6 currency-3">
      <app-currency-preview intrinioId="$DEXJPUS"
      infoUrl='/historicCurrent/EXJPUS' label="USD/JPY" removable="false"></app-currency-preview>
    </div>
  </div>

  <div class="row newsContainer mt-3">
    <div class="col-sm-7 latestNews">
        <app-rss-renderer height="600"></app-rss-renderer>
    </div>

    <div class="col-sm-5 twitterContainer">
      <div class="card">
        <div class="card-header homepage-card-header">
          <h5>Twitter</h5>
        </div>
        <div class="card-block">
          <div class="widget-main">
            <div class="rss-widget">
              <iframe src="http://us1.rssfeedwidget.com/getrss.php?time=1510678283221&amp;
                                    x=https%3A%2F%2Ftwitrss.me%2Ftwitter_user_to_rss%2F%3Fuser%3Dft&amp;w=200&amp;
                                    h=500&amp;bc=333333&amp;bw=1&amp;bgc=transparent&amp;m=20&amp;it=false&amp;
                                    t=(default)&amp;tc=333333&amp;ts=15&amp;tb=transparent&amp;il=false&amp;
                                    lc=0000FF&amp;ls=14&amp;lb=false&amp;id=true&amp;dc=333333&amp;ds=14&amp;
                                    idt=true&amp;dtc=284F2D&amp;dts=12" border="0" hspace="0" vspace="0"
                      frameborder="no" marginwidth="0" marginheight="0" style="border:0;
                                            padding:0; margin:0; width:100%; height:600px;
                                            font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;"
                      id="rss-output twitter">
                Reading RSS Feed ...</iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
