
/* Home page*/

.jumbotron-fluid{
    background-image: url("/markit/assets/img/Tower-Bridge.jpg");
    background-size: cover;
    background-position: center bottom;
    width: 100vw;
    height: 30%;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

img[src*="Tower-Bridge"]{
    max-width: 100%;
    bottom: 0;
    opacity: 0.8;
    horiz-align: center;
    position: absolute;
}
.carousel{
    width: 80%;
    margin: 0 auto;
}
.carousel-item{
    padding: 10px;
    color: white;
}
.carousel-indicators {
    position: absolute;
    bottom: 5px;
}
.carousel-inner{
    transform: translateX(10%);
}

.homepage-card-header{
    background-color: #21518F !important;
    color: white;
}

/* Home page currency container*/
.currencies{
    height: 25%;
    padding: 0;
    margin:0;
}
.currency{
    background-color: white;
    height: 90%;
}

/* Home page Graph container*/
.graph-container{
    height: 520px;
    width: 100%;
}
#home-graph-card-div{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}
.graph-insert{
    height : 100%;
}
.mainChartContainer{
    margin-top: 30px;
}
#chart-demo {
    height: 450px;
    width: 100%;
}

#zoomedChart {
    height: 315px;
    margin: 0 0 15px;
}

#chart-demo > div:not(#zoomedChart) {
    height: 120px;
}

/* Home page news container*/
.newsContainer{
    height: 700px;
    margin-bottom:30px;
}
.newsContainer > card{
    width:90%;
}
.widget-main{
    text-align:left;
    overflow-y:auto;
    overflow-x:hidden;
    width:100%;
    height: 600px;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}
.rss-widget{
    height:300px;
}
#rss-output{
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.latestNews{
    height: 700px;
}
